
.ContactUsPopup_ContactUsPopup {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(0,0,0,1.00);
}
.ContactUsPopup_ContactUsPopup .phone_no{
	position: absolute;
	left: 500.52px;
	top: 452.36px;
	width: 519.4399999999999px;
	height: 92.88px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 55.04px;
	font-weight: 400;
	line-height: 66.61090789794922px;
}
.ContactUsPopup_ContactUsPopup .address {
	position: absolute;
	left: 500.52px;
	top: 918.48px;
	width: 872.04px;
	height: 285.52px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 55.04px;
	font-weight: 400;
	line-height: 66.61090789794922px;
}
/* .ContactUsPopup_ContactUsPopup .image13 {
	position: absolute;
	left: 235.64px;
	top: 669.08px;
	width: 135.88px;
	height: 142.76px;
	object-fit: cover;
	overflow: hidden;
}
.ContactUsPopup_ContactUsPopup .image14 {
	position: absolute;
	left: 235.64px;
	top: 430px;
	width: 137.6px;
	height: 137.6px;
	object-fit: cover;
	overflow: hidden;
}
.ContactUsPopup_ContactUsPopup .image15 {
	position: absolute;
	left: 251.12px;
	top: 939.12px;
	width: 122.12px;
	height: 122.12px;
	object-fit: cover;
	overflow: hidden;
} */
.ContactUsPopup_ContactUsPopup .contactnexustrustcom {
	position: absolute;
	left: 500.52px;
	top: 701.76px;
	width: 655.3199999999999px;
	height: 79.12px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 55.04px;
	font-weight: 400;
	line-height: 66.61090789794922px;
}
.ContactUsPopup_ContactUsPopup .ContactUs {
	position: absolute;
	left: 488.48px;
	top: 147.92px;
	width: 464.4px;
	height: 92.88px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 82.56px;
	font-weight: 700;
	line-height: 99.91636184692382px;
}
.ContactUsPopup_ContactUsPopup .Rectangle26 {
	position: absolute;
	left: 53.32px;
	top: 41.28px;
	width: 1341.6px;
	height: 1265.92px;
	background: rgba(217,217,217,0.00);
	border: 1px solid rgba(255,255,255,1);
	box-sizing: border-box;
}