
.SavingsAccount_SavingsAccount {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(0,0,0,1.00);
}
.SavingsAccount_SavingsAccount .NavigationBar {
	position: absolute;
	left: 101px;
	top: 35px;
	width: 894px;
	height: 41px;
}
.SavingsAccount_SavingsAccount .NavigationBar .ContactUs {
	position: absolute;
	left: 804px;
	top: 5px;
	width: 90px;
	height: 22px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	line-height: 18.15340805053711px;
}
.SavingsAccount_SavingsAccount .NavigationBar .Promotions {
	position: absolute;
	left: 670px;
	top: 5px;
	width: 89px;
	height: 22px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	line-height: 18.15340805053711px;
}
.SavingsAccount_SavingsAccount .NavigationBar .DigitalBanking {
	position: absolute;
	left: 510px;
	top: 5px;
	width: 115px;
	height: 22px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	line-height: 18.15340805053711px;
}
.SavingsAccount_SavingsAccount .NavigationBar .AboutUs {
	position: absolute;
	left: 385px;
	top: 5px;
	width: 80px;
	height: 22px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 15px;
	font-weight: 500;
	line-height: 18.15340805053711px;
}
.SavingsAccount_SavingsAccount .NavigationBar .NexusTrustBank {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 172px;
	height: 41px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 800;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .QuickLinks {
	position: absolute;
	left: 196px;
	top: 1154px;
	width: 460px;
	height: 282px;
}
.SavingsAccount_SavingsAccount .QuickLinks .AboutUs_1 {
	position: absolute;
	left: 0px;
	top: 64px;
	width: 112px;
	height: 60px;
	display: flex;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .QuickLinks .Dashboard {
	position: absolute;
	left: 208px;
	top: 64px;
	width: 142px;
	height: 50px;
	display: flex;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .QuickLinks .Transaction {
	position: absolute;
	left: 208px;
	top: 118px;
	width: 151px;
	height: 50px;
	display: flex;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .QuickLinks .PlansandInteresetRates {
	position: absolute;
	left: 208px;
	top: 174px;
	width: 252px;
	height: 50px;
	display: flex;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .QuickLinks .DigitalBanking_1 {
	position: absolute;
	left: 0px;
	top: 124px;
	width: 151px;
	height: 50px;
	display: flex;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .QuickLinks .Promotions_1 {
	position: absolute;
	left: 0px;
	top: 182px;
	width: 144px;
	height: 50px;
	display: flex;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .QuickLinks .ContactUs_1 {
	position: absolute;
	left: 0px;
	top: 232px;
	width: 141px;
	height: 50px;
	display: flex;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .QuickLinks .QuickLinks_1 {
	position: absolute;
	left: 23.152173913043477%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 213px;
	height: 29px;
	color: rgba(255,207,67,1.00);
	font-family: Inter;
	font-size: 24px;
	font-weight: 700;
	line-height: 29.045454025268555px;
}
.SavingsAccount_SavingsAccount .SocialMedia {
	position: absolute;
	left: 473px;
	top: 1458px;
	width: 425px;
	height: 64px;
}
.SavingsAccount_SavingsAccount .SocialMedia .image8 {
	position: absolute;
	left: 172px;
	top: 0px;
	width: 41px;
	height: 42px;
	object-fit: cover;
	overflow: hidden;
}
.SavingsAccount_SavingsAccount .SocialMedia .image9 {
	position: absolute;
	left: 224px;
	top: 5px;
	width: 38px;
	height: 33px;
	object-fit: cover;
	overflow: hidden;
}
.SavingsAccount_SavingsAccount .SocialMedia .image10 {
	position: absolute;
	left: 274px;
	top: 3px;
	width: 42px;
	height: 38px;
	object-fit: cover;
	overflow: hidden;
}
.SavingsAccount_SavingsAccount .SocialMedia .image11 {
	position: absolute;
	left: 328px;
	top: 3px;
	width: 38px;
	height: 39px;
	object-fit: cover;
	overflow: hidden;
}
.SavingsAccount_SavingsAccount .SocialMedia .image12 {
	position: absolute;
	left: 380px;
	top: 0px;
	width: 45px;
	height: 47px;
	object-fit: cover;
	overflow: hidden;
}
.SavingsAccount_SavingsAccount .SocialMedia .ConnectUsWith {
	position: absolute;
	left: 0px;
	top: 12px;
	width: 213px;
	height: 52px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .ReachUs {
	position: absolute;
	left: 843px;
	top: 1154px;
	width: 400px;
	height: 251px;
}
.SavingsAccount_SavingsAccount .ReachUs ._248123456789 {
	position: absolute;
	left: 46px;
	top: 66px;
	width: 278px;
	height: 48px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .ReachUs ._123OceanAvenueCoralBaySeasideCityMarineProvinceZipCode56789 {
	position: absolute;
	left: 55px;
	top: 176px;
	width: 289px;
	height: 75px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .ReachUs .image16 {
	position: absolute;
	left: 2px;
	top: 117px;
	width: 34px;
	height: 31px;
	object-fit: cover;
	overflow: hidden;
}
.SavingsAccount_SavingsAccount .ReachUs .ReachUs_1 {
	position: absolute;
	left: 26.625%;
	top: 0px;
	transform: translate(-50%, 0);
	width: 213px;
	height: 29px;
	color: rgba(255,207,67,1.00);
	font-family: Inter;
	font-size: 24px;
	font-weight: 700;
	line-height: 29.045454025268555px;
}
.SavingsAccount_SavingsAccount .ReachUs .image18 {
	position: absolute;
	left: 2px;
	top: 184px;
	width: 30px;
	height: 34px;
	object-fit: cover;
	overflow: hidden;
}
.SavingsAccount_SavingsAccount .ReachUs .contactnexustrustcom {
	position: absolute;
	left: 50px;
	top: 118px;
	width: 350px;
	height: 41px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .ReachUs .image17 {
	position: absolute;
	left: 0px;
	top: 64px;
	width: 32px;
	height: 30px;
	object-fit: cover;
	overflow: hidden;
}
.SavingsAccount_SavingsAccount .logout {
	position: absolute;
	left: 1255px;
	top: 33px;
	width: 37px;
	height: 41px;
	object-fit: cover;
	overflow: hidden;
}
.SavingsAccount_SavingsAccount .ProfilePicture {
	position: absolute;
	left: 1335px;
	top: 31px;
	width: 45px;
	height: 45px;
	object-fit: cover;
	overflow: hidden;
}
.SavingsAccount_SavingsAccount .YourAccountTypeAdult {
	position: absolute;
	left: 128px;
	top: 395px;
	width: 306px;
	height: 27px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .SavingsAccount_1 {
	position: absolute;
	left: 124px;
	top: 321px;
	width: 273px;
	height: 39px;
	color: rgba(255,207,67,1.00);
	font-family: Inter;
	font-size: 32px;
	font-weight: 600;
	line-height: 38.727272033691406px;
}
.SavingsAccount_SavingsAccount .Dashboard_1 {
	position: absolute;
	left: 128px;
	top: 253px;
	width: 204px;
	height: 32px;
	color: rgba(255,207,67,1.00);
	font-family: Inter;
	font-size: 36px;
	font-weight: 700;
	line-height: 43.568180084228516px;
}
.SavingsAccount_SavingsAccount .Transaction_1 {
	position: absolute;
	left: 86px;
	top: 653px;
	width: 520px;
	height: 289px;
}
.SavingsAccount_SavingsAccount .Transaction_1 .Rectangle21 {
	position: absolute;
	left: 0px;
	top: 29px;
	width: 520px;
	height: 260px;
	border-radius: 31px;
}
.SavingsAccount_SavingsAccount .Transaction_1 .Transaction_2 {
	position: absolute;
	left: 48px;
	top: 0px;
	width: 123px;
	height: 23px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .Transaction_1 .ToAccount {
	position: absolute;
	left: 50px;
	top: 67px;
	width: 123px;
	height: 23px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .Transaction_1 .Amount {
	position: absolute;
	left: 49px;
	top: 134px;
	width: 122px;
	height: 22px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .Transaction_1 .Rectangle8 {
	position: absolute;
	left: 203px;
	top: 54px;
	width: 286px;
	height: 49px;
	background: rgba(217,217,217,1.00);
	border-radius: 48px;
}
.SavingsAccount_SavingsAccount .Transaction_1 .Rectangle19 {
	position: absolute;
	left: 203px;
	top: 120px;
	width: 286px;
	height: 49px;
	background: rgba(217,217,217,1.00);
	border-radius: 48px;
}
.SavingsAccount_SavingsAccount .Transaction_1 .Rectangle20 {
	position: absolute;
	left: 49px;
	top: 218px;
	width: 162px;
	height: 49px;
	background: rgba(255,207,67,1.00);
	border-radius: 40px;
}
.SavingsAccount_SavingsAccount .Transaction_1 .Proceed {
	position: absolute;
	left: 89px;
	top: 231px;
	width: 82px;
	height: 24px;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .Balance {
	position: absolute;
	left: 98px;
	top: 457px;
	width: 227px;
	height: 135px;
	border-radius: 41px;
}
.SavingsAccount_SavingsAccount .Balance .Balance_1 {
	position: absolute;
	left: 31px;
	top: 0px;
	width: 196px;
	height: 28px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .Balance .Rectangle19_1 {
	position: absolute;
	left: 0px;
	top: 36px;
	width: 194px;
	height: 99px;
	border-radius: 41px;
}
.SavingsAccount_SavingsAccount .Balance ._50000 {
	position: absolute;
	left: 46px;
	top: 72px;
	width: 117px;
	height: 26px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 24px;
	font-weight: 700;
	line-height: 29.045454025268555px;
}
.SavingsAccount_SavingsAccount .NoofWithdrawalsLeft {
	position: absolute;
	left: 325px;
	top: 459px;
	width: 241px;
	height: 81px;
	border-radius: 31px;
}
.SavingsAccount_SavingsAccount .NoofWithdrawalsLeft .NoofWithdrawalsLeft_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 241px;
	height: 27px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .NoofWithdrawalsLeft .Rectangle20_1 {
	position: absolute;
	left: 54px;
	top: 30px;
	width: 111px;
	height: 51px;
	border-radius: 31px;
}
.SavingsAccount_SavingsAccount .NoofWithdrawalsLeft ._3 {
	position: absolute;
	left: 100px;
	top: 43px;
	width: 22px;
	height: 26px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 24px;
	font-weight: 700;
	line-height: 29.045454025268555px;
}
.SavingsAccount_SavingsAccount .Rectangle19_2 {
	position: absolute;
	left: 781px;
	top: 400px;
	width: 550px;
	height: 547px;
	border-radius: 31px;
}
.SavingsAccount_SavingsAccount ._9520 {
	position: absolute;
	left: 1173px;
	top: 813px;
	width: 155px;
	height: 25px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .Transferringtoacard40 {
	position: absolute;
	left: 804px;
	top: 809px;
	width: 300px;
	height: 42px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount ._10August20230713 {
	position: absolute;
	left: 802px;
	top: 744px;
	width: 228px;
	height: 25px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 300;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount ._4August20231423 {
	position: absolute;
	left: 804px;
	top: 840px;
	width: 213px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 300;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .Transferringtoacard10 {
	position: absolute;
	left: 804px;
	top: 632px;
	width: 300px;
	height: 42px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .Transferfromcard74 {
	position: absolute;
	left: 804px;
	top: 716px;
	width: 300px;
	height: 42px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount ._1September20231341 {
	position: absolute;
	left: 804px;
	top: 577px;
	width: 252px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount ._20August20230825 {
	position: absolute;
	left: 811px;
	top: 664px;
	width: 234px;
	height: 25px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 300;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount ._1023 {
	position: absolute;
	left: 1173px;
	top: 564px;
	width: 155px;
	height: 26px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount ._25December2022 {
	position: absolute;
	left: 3320px;
	top: 569px;
	width: 183px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount ._52036 {
	position: absolute;
	left: 1173px;
	top: 718px;
	width: 155px;
	height: 26px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .Transferfromcard74_1 {
	position: absolute;
	left: 811px;
	top: 443px;
	width: 268px;
	height: 41px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .Transferringtoacard41 {
	position: absolute;
	left: 806px;
	top: 547px;
	width: 300px;
	height: 43px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .TransactionHistory {
	position: absolute;
	left: 816px;
	top: 321px;
	width: 202px;
	height: 30px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount ._10September20231021 {
	position: absolute;
	left: 812px;
	top: 484px;
	width: 266px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount ._52036_1 {
	position: absolute;
	left: 1173px;
	top: 458px;
	width: 155px;
	height: 26px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 700;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .AccountNavigation {
	position: absolute;
	left: 286px;
	top: 143px;
	width: 868px;
	height: 44px;
}
.SavingsAccount_SavingsAccount .AccountNavigation .FixedDepositesLoans {
	position: absolute;
	left: 631px;
	top: 0px;
	width: 237px;
	height: 24px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 600;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .AccountNavigation .SavingsAccount_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 163px;
	height: 39px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 600;
	line-height: 24.204544067382812px;
}
.SavingsAccount_SavingsAccount .AccountNavigation .CheckingAccount {
	position: absolute;
	left: 305px;
	top: 0px;
	width: 184px;
	height: 44px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 20px;
	font-weight: 600;
	line-height: 24.204544067382812px;
}