
.LoginPopup_LoginPopup {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(0,0,0,1.00);
}
.LoginPopup_LoginPopup .Rectangle7 {
	position: absolute;
	left: 532px;
	top: 946.75px;
	width: 378px;
	height: 173.25px;
	background: rgba(255,207,67,1.00);
	border-radius: 84px;
}
.LoginPopup_LoginPopup .Rectangle6 {
	position: absolute;
	left: 497px;
	top: 668.5px;
	width: 745.5px;
	height: 173.25px;
	background: rgba(217,217,217,1.00);
	border-radius: 84px;
}
.LoginPopup_LoginPopup .AccountNo {
	position: absolute;
	left: 197.75px;
	top: 402.5px;
	width: 1044.75px;
	height: 173.25px;
	border-radius: 84px;
}
.LoginPopup_LoginPopup .AccountNo .AccountNo_1 {
	position: absolute;
	left: 0px;
	top: 66.5px;
	width: 285.25px;
	height: 42px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 42px;
	font-weight: 400;
	line-height: 50.82954454421997px;
}
.LoginPopup_LoginPopup .AccountNo .Rectangle5 {
	position: absolute;
	left: 299.25px;
	top: 0px;
	width: 745.5px;
	height: 173.25px;
	background: rgba(217,217,217,1.00);
	border-radius: 84px;
}
.LoginPopup_LoginPopup .Password {
	position: absolute;
	left: 211.75px;
	top: 722.75px;
	width: 285.25px;
	height: 42px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 42px;
	font-weight: 400;
	line-height: 50.82954454421997px;
}
.LoginPopup_LoginPopup .Login {
	position: absolute;
	left: 603.75px;
	top: 166.25px;
	width: 234.5px;
	height: 94.5px;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 84px;
	font-weight: 700;
	line-height: 101.65908908843994px;
}
.LoginPopup_LoginPopup .Login_1 {
	position: absolute;
	left: 87.5%;
	top: 126.99940758293837%;
	transform: translate(-50%, -50%);
	width: 379.75px;
	height: 173.25px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Inter;
	font-size: 70px;
	font-weight: 600;
	line-height: 84.71590423583984px;
}
.LoginPopup_LoginPopup .DonthaveanaccountRegister {
	position: absolute;
	left: 287px;
	top: 1216.25px;
	width: 866.25px;
	height: 80.5px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-family: Inter;
	font-size: 42px;
	font-weight: 400;
	line-height: 50.82954454421997px;
}